@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-inter {
    font-family: 'Inter', sans-serif;
}

.font-robotomono {
    font-family: 'Roboto Mono', monospace;
}
